.root {
    -fx-background-color: #070b1a;
    -fx-font-size: 14px;
}


.title {
    -fx-font-size: 27px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.SteamBuildertitle {
    -fx-font-size: 35px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.partSection {
    -fx-font-size: 16px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.partField-label {
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.normalText {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.cardVbox {
    -fx-background-radius: 10;
    -fx-background-color: #101730;
    -fx-border-color: rgba(56, 75, 117, .1);
    -fx-border-radius: 10;
}

.cardVboxHome {
    -fx-background-radius: 14;
    -fx-padding: 18;
    -fx-background-color: #101730;
    -fx-border-color: rgba(56, 75, 117, .1);
    -fx-border-radius: 14; 
    -fx-pref-width: 240;
    -fx-pref-height: 170;
}

.cardVboxHomeBottom {
    -fx-background-radius: 14;
    -fx-padding: 18;
    -fx-background-color: #101730;
    -fx-border-color: rgba(56, 75, 117, .1);
    -fx-border-radius: 14; 
    -fx-pref-width: 240;
    -fx-pref-height: 150;
}



.primaryButton {
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-background-radius: 12;
    -fx-background-color: #1f4fff;
    -fx-text-fill: white;
}

.menuButton {
    -fx-font-size: 16px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-background-radius: 12;
    -fx-background-color: #1f4fff;
    -fx-text-fill: white;
}

.menuButton:hover {
     -fx-background-color: #6cad2b; 
    }

.primaryButton:hover {
     -fx-background-color: #6cad2b; 
    }
    

.list-view {
    -fx-control-inner-background: #101730;
    -fx-border-color: rgba(56, 75, 117, .1);
    -fx-background-radius: 10;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;  
}

.combo-box > .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;
}



.scroll-pane {
    -fx-background-color: #070b1a;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: #070b1a;
}


.scroll-bar {
    -fx-background-color: #101730;  
}

.scroll-bar .thumb {
    -fx-background-color: #1f4fff;
    -fx-background-radius: 10;
}

.scroll-bar .increment-button .decrement-button {
    -fx-background-color: #101730;
    -fx-background-insets: 0;
}



.text-field {
    -fx-background-color: #101730;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}